@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.shadow{
  filter: drop-shadow(-15px 10px 30px rgba(76, 64, 247, 0.25));
}

@media (max-width: 490px){
  iframe{
    width: 350px !important;
    height:350px !important;
  }
}

@media (max-width: 381px){
  iframe{
    width: 300px !important;
    height:300px !important;
  }
}